<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Administrateur</title>


  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
   <style>
   
   #myTable2 td
   {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
	}
	#myTable2 
	{
    	table-layout:fixed;
    
	}
	#parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 20px; 
  margin-left: 30px;
}
.custom {
    width: 120px !important;
}
	
​</style>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestion Articles
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/formajoutarticle}">Ajout</a></li>
            <li><a class="dropdown-item" href="#">Modifier</a></li>
            
            <li><a class="dropdown-item" href="#">Supprimer</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestion Evenements
          </a>
         <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ajout</a></li>
            <li><a class="dropdown-item" href="#">Modifier</a></li>
            
            <li><a class="dropdown-item" href="#">Supprimer</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Tapez" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Recherche</button>
      </form>
    </div>
  </div>
</nav>
</br>
</br>
</br>

 <h3 align="center">Liste Articles</h3>
 </br>
</br>
<div>
  <form th:action="@{/articles}" id="searchForm">
    <div class="row d-flex">
      <div>
        <div id="parent">
         
          <input id="keyword" type="search" name="keyword" th:value="${keyword}" required class="form-control"
            placeholder="Entrer un titre ou un bout de titre">
          <button type="submit"  class="btn btn-secondary custom">Rechercher</button>
           <a th:href="@{/articles}" class="btn btn-success custom">Réinitialiser</a>
        </div>
       
      </div>
     
     
    </div>
  </form>
</div>
</br>
 <div th:if="${articles.size() > 0}">
  <table class="table table-hover table-responsive-xl" id="myTable2">
    <thead class="thead-light">
      <tr>
        <th th:replace="fragments/sorting :: sorting('id','Id')"></th>
         <th>Titre</th>
         <th>Soustitre</th>
        <th>Contenus</th>
        <th>Sary</th>
        <th th:replace="fragments/sorting :: sorting('datepublication','Date publication')"></th>
       <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="article : ${articles}">
        <th scope="row">[[${article.id}]]</th>
        <td>[[${article.titre}]]</td>
        <td>[[${article.soustitre}]]</td>
        <td>[[${article.contenus}]]</td>
        <td>
         [[${article.sary}]]
        </td>
         <td>
           <div  th:text="${#dates.format(article.datepublication, 'dd-MMM-yyyy')}" class="d-flex px-2 py-1">
                                           
                                            
                                            </div>
         
        </td>
        
        <td>
        
                  
          <a th:href="@{'/detailarticle/' + ${article.id}}" title="Voir plus de détails"
            class="fa fa-info-circle"></a>
           
         
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="" th:unless="${articles.size() > 0}">
  <span>No articles found!</span>
</div>

<nav aria-label="Pagination" th:if="${totalPages > 0}">
  <ul class="pagination justify-content-center">
    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
      <a th:replace="fragments/paging :: paging(1, '<<', 'First Page')"></a>
    </li>
    <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
      <a th:replace="fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
    </li>
    <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
      <a class="page-link" href="#">...</a>
    </li>
    <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
      th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
      <a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
    </li>
    <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
      <a class="page-link" href="#">...</a>
    </li>
    <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
      <a th:replace="fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
    </li>
    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
      <a th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
    </li>
  </ul>
</nav>


<script type="text/javascript">
  $(document).ready(function () {
    // ...

    $("#btnClear").on("click", function (e) {
      e.preventDefault();
      $("#keyword").text("");
      window.location = "[[@{/articles}]]";
    });
  });

  function changePageSize() {
    $("#searchForm").submit();
  }
</script>

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
</body>

</html>